[submodule "bundle/taskpaper"]
	path = bundle/taskpaper
	url = http://github.com/davidoc/taskpaper.vim.git
[submodule "bundle/NerdTree"]
	path = bundle/NerdTree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = http://github.com/msanders/snipmate.vim.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = http://github.com/godlygeek/tabular.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = http://github.com/tpope/vim-git.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = http://github.com/tpope/vim-surround.git
[submodule "bundle/vim-togglemouse"]
	path = bundle/vim-togglemouse
	url = http://github.com/nvie/vim-togglemouse.git
[submodule "bundle/Tcomment"]
	path = bundle/Tcomment
	url = http://github.com/tomtom/tcomment_vim.git
[submodule "bundle/MRU"]
	path = bundle/MRU
	url = http://github.com/vim-scripts/mru.vim.git
[submodule "bundle/FuzzyFinder"]
	path = bundle/FuzzyFinder
	url = http://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundle/L9"]
	path = bundle/L9
	url = http://github.com/vim-scripts/L9
[submodule "bundle/open-browser"]
	path = bundle/open-browser
	url = http://github.com/tyru/open-browser.vim.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = http://github.com/Lokaltog/vim-easymotion
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = http://github.com/ervandew/supertab
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = http://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/asciidoc"]
	path = bundle/asciidoc
	url = http://github.com/dagwieers/asciidoc-vim.git
[submodule "bundle/virtualenv"]
	path = bundle/virtualenv
	url = http://github.com/jmcantrell/vim-virtualenv.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = http://github.com/scrooloose/syntastic
