[submodule "bundle/taskpaper"]
	path = bundle/taskpaper
	url = http://github.com/davidoc/taskpaper.vim.git
[submodule "bundle/NerdTree"]
	path = bundle/NerdTree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-preview"]
	path = bundle/vim-preview
	url = http://github.com/greyblake/vim-preview.git
